.header{
    display: inline;
    justify-content: space-between; /* Arrange items on the same line with space in between */
}

.leftlogo{
    color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    float: left;
    margin-left: 200px;
    padding-top: 50px;

}

.menu{
    list-style: none;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding-right: 30px;
    margin-right: 200px;
    padding-top: 50px;

}

button{
    background-color: blueviolet;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
}


.signup{
    float: right;
    cursor: pointer;
    margin-right: 200px;
    padding-top: 50px;
}

li :hover{
    cursor: pointer;
    color: blueviolet;
}

img{
    height: 400px;
}

.image{
    padding-top: 30px;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.center{
    text-align: center;
    font-family: poppins;
    font-size: 25px;
    color: rgb(67, 67, 67);
    font-weight: 500;
}


hr{
    width: 50%;
    margin-top: 5px;
}

button:hover{
    background-color: rgb(217, 2, 217);
    cursor: pointer;
}

.ptitle{
    font-family: Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: rgb(43, 43, 43);
    text-align: center;
    margin-top: 50px;
}


.section1{
    font-family: helvetica;
    font-size: 20px;
    font-weight: 300;
    color: rgb(43, 43, 43);
    float: left;
    margin-left: 150px;
    background-color: rgb(237, 239, 238);
    padding-top: 10px;
    padding-right: 70px;
    padding-left: 70px;
    padding-bottom: 30px;
    border-radius: 10px;
}

.section2{
    font-family: helvetica;
    font-size: 20px;
    font-weight: 300;
    color: rgb(43, 43, 43);
    float: center;
    background-color: rgb(237, 239, 238);
    padding-top: 10px;
    padding-right: 70px;
    padding-left: 70px;
    padding-bottom: 30px;
    border-radius: 10px;
}

.section3{
    font-family: helvetica;
    font-size: 20px;
    font-weight: 300;
    color: rgb(43, 43, 43);
    float: right;
    margin-right: 150px;
    background-color: rgb(237, 239, 238);
    padding-top: 10px;
    padding-right: 70px;
    padding-left: 70px;
    padding-bottom: 30px;
    border-radius: 10px;
}

.middle{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.request{
    height: 200px;
}

.fast{
    height: 200px;
}

.designer{
    height: 210px;
}

.footer{
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 150px;
}
footer{
    margin-bottom: 50px;
}